@import "./../values.sass"
$t: calc($x/2)
$r: 90deg

div.cubelet
  transform-style: preserve-3d
  position: absolute
  height: 100%
  width: 100%
  //   background-color: rgb(100 100 100/20%)
  div.face
    transform-style: preserve-3d
    height: $x
    width: $x
    position: absolute
    border: 1px solid darkslategray
    box-sizing: border-box
    display: grid
    gap: $gap
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: repeat(3, 1fr)
    grid-template-areas: "a0 a1 a2" "a3 a4 a5" "a6 a7 a8"
    div.color-piece
      border: solid 1px darkblue
      border-radius: $borderRadius
    &.front
      transform: translateZ($t)
      //   background-color: rgb(0 0 255/20%)
      div.color-piece
        background-color: blue
    &.back
      transform: rotateY($r * 2) translateZ($t)
      //   background-color: rgb(0 255 0/20%)
      div.color-piece
        background-color: green
    &.left
      transform: rotateY(-$r) translateZ($t)
      //   background-color: rgb(255 165 0 /20%)
      div.color-piece
        background-color: orange
    &.right
      transform: rotateY($r) translateZ($t)
      //   background-color: rgb(255 0 0/20%)
      div.color-piece
        background-color: red
    &.top
      transform: rotateX($r) translateZ($t)
      //   background-color: rgb(255 255 0 /20%)
      div.color-piece
        background-color: yellow
    &.bottom
      transform: rotateX(-$r) translateZ($t)
      //   background-color: rgb(255 255 255/20%)
      div.color-piece
        background-color: white
